## Lecture 2 Data 3401

## Strings

In [1]:
s = 'hello world' 
print(s)

hello world

In [2]:
#String Operations 
# Combine two Strings
"hello" +' '+ "world"

'hello world'

In [3]:
#repeating a string
"hello "*3

'hello hello hello '

In [4]:
# length of the string 
# because of the quotation marks it makes it a string
s = '12345'

In [5]:
# dublicatess the string 
s*2

'1234512345'

In [6]:
#len functions gives us lenght
len(s)

5

In [7]:
s1 = ' 12345 ' 
len(s1)
# because of the spaces the length will be seven.

7

In [8]:
#Split/Join String 
#split space-delimited word
S = "hello world" 
S.split()

['hello', 'world']

In [ ]:
#The square brackets are a list in Python, above.

In [10]:
S = "hello,world"
S.split(sep=',')
# sep = separation

['hello', 'world']

In [11]:
S = "hello-world"
S.split(sep='-')

['hello', 'world']

In [12]:
# The separation above, no matter what separates it will always gives the same thing. 
S = "hello-world"
S.split('-')

['hello', 'world']

In [ ]:
# Even if the word sep is not in the () it will understand that it is the first argument 
# Therefore it will understand it is the separator.

In [14]:
#Multi-Line strings 
# Triple Quotes 
a = """hello
world
"""
print(a)

hello
world

In [ ]:
# You have to use the triple quotes in order for the string to look like it is above.

In [23]:
#New Line Character 
# the \n means that you will go to the other line
# use print(a) for it to understand it because it won't the other way.
a = "hello\nworld"
print(a)

hello
world

In [24]:
a

'hello\nworld'

In [5]:
# A few string methods andfunction 
#Replace the text 
s = 'Hello World'
s.replace('world', 'Mars')

'Hello World'

In [6]:
# If it doesn't find the exact word it returns to the same thing like above. 
# If it finds the same exact world then it replaces it. 
s.replace('World', 'Mars')

'Hello Mars'

In [7]:
# when using s because it is not assingned it will give you back Hello World
s

'Hello World'

In [8]:
#If you assing it then it will replace it
s = s.replace('World', 'Mars')
s

'Hello Mars'

In [9]:
# Convert to Upper Case and Lower Case 
print(s.upper())
print(s.lower())

HELLO MARS
hello mars

In [34]:
# Remove the whitespace
s = " hello "
print(s)

 hello

In [35]:
s.strip()

'hello'

In [ ]:
#The strip function removes the whitespace.

In [36]:
#Numbers to String 
1.1 + 2.2

3.3000000000000003

In [37]:
#str helps us convert things to strings 
# sense it is a string function 
str(1.1 + 2.2)

'3.3000000000000003'

In [38]:
str(1)

'1'

In [39]:
#String to Numbers 
int('23')

23

In [40]:
type(int('23'))

int

In [41]:
#Research Question
int('FF', 16)

255

In [44]:
int('ff', 16)

255

In [45]:
int('aa',16)

170

In [ ]:
#Above is a hex-string, but why do different letters are a different base of 16. 
#They are what you call hexadecimal. 
#They use 16 symbols to represent numbers from 0 to 9, from a to f. 
# It uses the ASCII chart 
# Keep researching this.

In [46]:
float('23')

23.0

In [47]:
# String Formatting 

#The format(0 method replace any replacement fields 
#in the string with the values given as arguments. 
# it equates the 100 to the 0 and the 50 to the 1
'{0} is greater than {1}'.format(100, 50)

'100 is greater than 50'

In [49]:
'{last}, {first}'.format(first = 'Jon', last = 'McCarble')
# same thing as above but with names
# in this part we just defined them inside the brackets.

'McCarble, Jon'

## List Objects

In [51]:
# List creation with brackets [] 
a = [10, 11, 12, 13, 14]
a

[10, 11, 12, 13, 14]

In [52]:
type(a)

list

In [ ]:
## Remeber to go to canvas to get the things you missed!!!!!!!!!!!!!!!!!!!!!!

In [53]:
# Concatenate List
a = [1,2]
b = [3.4]
a + b

[1, 2, 3.4]

In [56]:
# Repeat the elements in a list 
a = [1,2]
a*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [1]:
# range function 
# range(start, stop, step) These are the three arguments that the range takes. 
# The range function helps create a sequence 
# python index starts from 0 (Keep this in mind)
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [60]:
# In order for it to gives us from 0 to 5 use the list function 
# and put the range function with the intended number inside. 
#because when using range(#), the step would increase by 1
range(5)

range(0, 5)

In [61]:
list(range(2,7))
# 2 is our start and our stop is 6 because the last argument is exclusive

[2, 3, 4, 5, 6]

In [62]:
# specifying the step side as well
# start is 2, stop is 7, step is the last 2 
# gives you only the even numbers
list(range(2, 7, 2))

[2, 4, 6]

## Indexing

In [63]:
# It goes by elements 
a = [ 10,11,12,13,14]
a[0]
# Above you want to get the 0 element which is ten.

10

In [64]:
a[5]

IndexError: list index out of range

In [ ]:
#Above we have an error becuase we have no index 5. Hence list of index is out of range.

In [66]:
#Setting an element
# This is a replacement
a[1] = 21
print(a)

[10, 21, 12, 13, 14]

In [ ]:
# We also have negative indexes and they start at the end of the list as -1 towards -# 
# a[0] = a[-5], a[2] = a[-3]

In [ ]:
#Negatice Indices
#negative indices count backward from the end of the list

In [68]:
a[-1]

14

In [69]:
a[-2]

13

## More on List objects

In [76]:
# List can containg multiple types. 

c = [10, 'eleve', [12,13]]

In [79]:
c

[10, 'eleve', [12, 13]]

In [80]:
c[1]

'eleve'

In [81]:
c[2]

[12, 13]

In [83]:
# use multiple indices to get elements from nested list
# a nested list is a list inside another list
# a[2] = returns to the list inside while [0] that follows to the first item on the nested list
c[2]

[12, 13]

In [84]:
c[2][0]

12

In [85]:
c[2][1]

13

In [86]:
c[2][2]

IndexError: list index out of range

In [88]:
len(c[2])
#?

2

In [ ]:
# Does the list contain the element x?

In [ ]:
a =  [10, 11, 12, 13, 14]

In [89]:
13 in a

True

In [90]:
13 not in a

False

## Slicing

In [ ]:
# var[lower : upper : step]
# slicing the lists

In [91]:
a = [10, 11, 12, 13, 14] 
a[1:3]
#Remeber that the last one is not included that is why 13 is not there.

[11, 12]

In [92]:
# negative indices 
# there's a comma instead of a column 
a[1 , -2]

TypeError: list indices must be integers or slices, not tuple

In [96]:
a[1:-2]

[11, 12]

In [94]:
a[-4:3]

[11, 12]

In [ ]:
# Above is just different ways to find out what is on the list.

In [97]:
# Omitting indices 
# grab first 3 elements 
a[0:3]

[10, 11, 12]

In [99]:
a[:3]
# Because it always starts from 0.

[10, 11, 12]

In [100]:
#grab the last two elements
a[-3:-1]

[12, 13]

In [101]:
a[-2:]

[13, 14]

In [103]:
# get every other element
# you have to define the step side from var[lower : upper : step]
a[0:5:2]

[10, 12, 14]

In [104]:
# we can do the same thing above just by using the step side 
a[::2]

[10, 12, 14]

In [105]:
# List in action
# add an element to the list 
a

[10, 11, 12, 13, 14]

In [106]:
# append function
# try to add an element 
a.append(11)

In [107]:
a

[10, 11, 12, 13, 14, 11]

In [109]:
# to find how many of a certain # there are on the list 
# use the command count
a.count(11)

2

In [110]:
a.count('11')
# This is because '11' is a string.

0

In [111]:
# extend with another list
# if the append is used it adds a list into a list becoming a nested list
a.extend([3,5])

In [112]:
a

[10, 11, 12, 13, 14, 11, 3, 5]

In [113]:
a.append([3,5])

In [114]:
a

[10, 11, 12, 13, 14, 11, 3, 5, [3, 5]]

In [ ]:
# Above is because we used append therefore a nested list

In [115]:
# where does 11 first occur?
# tells you the first position that the number you are searching for is at. 
a.index(11)

1

In [116]:
# insert 100 at index 2?
# in this it puts 100 in position 2.
a.insert(2, 100)

In [117]:
a

[10, 11, 100, 12, 13, 14, 11, 3, 5, [3, 5]]

In [118]:
a.insert(100,100)

In [119]:
a

[10, 11, 100, 12, 13, 14, 11, 3, 5, [3, 5], 100]

In [ ]:
# above it puts the 100 on the last postion because the list is limited.

## Logical Expression, bool data type

In [1]:
# Comparison Operators
# >, <, >=, <=, ==, !=
1 >= 2

False

In [2]:
type( 1>= 2)
# giving us the type of command that the operation above was.

bool

In [3]:
1 + 1 == 2

True

In [4]:
2**3 != 3**2

True

In [5]:
# Chained Comparison 
1 < 2 < 10

True

In [6]:
# bool data type 

q = 1 > 0 
print(q)
print(type(q))

True
<class 'bool'>

In [7]:
c = 2 < 3
c 
type(c)
# If we do it like this it overwrites printing c if it does not have 
# the print(c) command.

bool

In [9]:
# and OPERATOR 

1 > 0 and 5 == 5

True

In [10]:
( 1 > 0 ) & ( 5 == 5)

True

In [12]:
# or Operator 

a = 50 
a < 10 or a > 90

False

In [13]:
(a < 10) | (a > 90)

False

In [14]:
(a > 10) | (a > 90)

True

In [15]:
(a < 10) | (a < 90)

True

In [16]:
(a > 40) | (a < 30)

True

In [17]:
# not OPERATOR 
not 10 <= a <=90

False

In [18]:
~ (10 <= a <=90) # CHECK THIS

-2

In [19]:
~ 50

-51

In [20]:
~ 90

-91

In [21]:
~ 10

-11

In [22]:
~ (10 < a < 90)

-2

In [24]:
~ (10 == a == 90)

-1

## Strings

In [25]:
# Creating a string 

# using double quotes also using single quotes

s = "hello world" 
print(s)

hello world

In [26]:
# using single quotes

s = 'hello world' 
print(s)

hello world