In [6]:
a = [10, 11, 12, 13, 14, 11]

In [2]:
a.pop(3)

13

In [7]:
#remove >>> remove the first 11
a.remove(11)

In [8]:
print(a)

[10, 12, 13, 14, 11]

In [10]:
# sorting the list
a.sort()

In [11]:
a

[10, 11, 12, 13, 14]

In [12]:
# reverse the list
a.reverse()

In [13]:
a

[14, 13, 12, 11, 10]

In [14]:
# Mutable vs. Immmutable
# Lists can be changed in place
a

[14, 13, 12, 11, 10]

In [15]:
a[1:3] = [5,6]

In [16]:
a

[14, 5, 6, 11, 10]

In [17]:
# Immutable such as integers and strings, cannot be changed in place

s = 'abcde'
s[1:3] = 'xy'

TypeError: 'str' object does not support item assignment

In [18]:
s[1:3]

'bc'

In [19]:
s.replace('bc', 'xy')

'axyde'

In [20]:
s[:1]

'a'

In [21]:
s[3:]

'de'

In [22]:
s = s[:1] + 'xy' + s[3:]

In [23]:
s

'axyde'

## Tuple - Immutable Sequence

In [24]:
# Tuple Creation
a = (10, 11, 12, 13, 14)

In [25]:
a

(10, 11, 12, 13, 14)

In [26]:
# Parantheses are optional

a = 10, 11, 12, 13, 14

In [27]:
a

(10, 11, 12, 13, 14)

In [28]:
type(a)

tuple

In [29]:
# Tuples are immutable

a = list(range(10, 15))

In [30]:
a

[10, 11, 12, 13, 14]

In [31]:
b = tuple(a)

In [32]:
b

(10, 11, 12, 13, 14)

In [33]:
b[3] = 25

TypeError: 'tuple' object does not support item assignment

## Tuple (un)packing

In [34]:
d = 1, 2, 3

In [35]:
d

(1, 2, 3)

In [36]:
# Multiple asssignments from a tuple
a, b, c = d

In [37]:
b

2

In [38]:
a

1

In [39]:
a, b, c = 1, 2, 3

In [40]:
# Why is it useful?
#We will see later on that this feature is very common in Python. For example:

friends = [('Andrew', 28),
           ('Mario', 51),
           ('Jack', 30)
          ]

In [41]:
friends

[('Andrew', 28), ('Mario', 51), ('Jack', 30)]

In [42]:
for name, age in friends:
    txt = "{} is {} years old"
    print(txt.format(name, age))

Andrew is 28 years old
Mario is 51 years old
Jack is 30 years old

## Dictionaries

In [ ]:
# Dictionaries store key/value pairs. Indexing a dictionary by a key returns the value
# associated with it. !! The key value must be immutable !!

In [43]:
# Create an empty dictionary using curly brackets
record = {}

In [44]:
type(record)

dict

In [45]:
# Each indexed assingment creates a key/value pair
record['first'] = 'James'
record['last'] = 'Maxwell'
record['born'] = 1831

In [46]:
record

{'first': 'James', 'last': 'Maxwell', 'born': 1831}

In [48]:
# Create another dictionary with initial entiries
new_record = {'first' : 'James', 'middle' : 'Clerk'}

In [49]:
# Updating a dictionary
record.update(new_record)

In [50]:
record

{'first': 'James', 'last': 'Maxwell', 'born': 1831, 'middle': 'Clerk'}

In [51]:
# Accesing with index Notation
record['first']

'James'

In [52]:
# Access with get(key, default)
#The get () method returns the value asscoiated with a key ; the optional second argument
# is return value if the key is not in the dictionary

record.get('born', 0)

1831

In [54]:
record.get('home', 'NA')

'NA'

In [ ]:
# Remove an entry with DEL

In [55]:
del record['middle']

In [56]:
record

{'first': 'James', 'last': 'Maxwell', 'born': 1831}

## Dictionaries in actions

In [57]:
barn = {'cows' : 1,
        'dogs' : 5,
        'cats' : 3
       }

In [58]:
# Test for chickens
'chickens' in barn

False

In [59]:
'cats' in barn

True

In [60]:
# get a list of all keys
barn.keys()

dict_keys(['cows', 'dogs', 'cats'])

In [61]:
# get a list of all values
barn.values()

dict_values([1, 5, 3])

In [62]:
# return key/value tuples
barn.items()

dict_items([('cows', 1), ('dogs', 5), ('cats', 3)])

In [65]:
# Question:

grades_dict = {'Physics' : 82,
               'Math' : 65,
               'History' : 75
              }

In [66]:
grades_dict

{'Physics': 82, 'Math': 65, 'History': 75}

In [68]:
min_grade = min(grades_dict.values())

In [69]:
min_grade

65

In [70]:
max_grade = max(grades_dict.values())

In [71]:
max_grade

82

In [72]:
# Standard deviation
import statistics as st

In [73]:
std_grade = st.stdev(grades_dict.values())

In [74]:
std_grade

8.54400374531753

In [77]:
# Zip function

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [78]:
my_dict = dict(zip(keys, values))

In [80]:
type(zip(keys, values))

zip

In [79]:
my_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [82]:
# Nested dictionary

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [83]:
sampleDict

{'class': {'student': {'name': 'Mike',
   'marks': {'physics': 70, 'history': 80}}}}

In [84]:
print(sampleDict['class']['student']['marks']['history'])

80

## Set Objects

# Definition :  A set is an unordered collection of **unique**, immutable objects.

In [85]:
# an empty set

s = set()

In [86]:
s

set()

In [87]:
# Convert a sequence to a set

t = set([1,2,3,4,1])

In [88]:
t

{1, 2, 3, 4}

In [89]:
type(t)

set

In [90]:
# Add function, update function , remove function
-----

In [91]:
# Set operations 

a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])

In [92]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [93]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [94]:
a.intersection(b)

{3, 4}

In [95]:
b.intersection(a)

{3, 4}

In [96]:
a.difference(b)

{1, 2}

In [97]:
b.difference(a)

{5, 6}

In [98]:
a.symmetric_difference(b)

{1, 2, 5, 6}

## Control Statements

In [99]:
# If statements
# While statements
# For loops
 #-List comprehension
 #-Looping patterns

## IF Statements