## Pandas Review Lecture 9

In [ ]:
# Pandas is a library that makes the analysis of complex, tabular datser easy.

### Features

In [ ]:
# Defines tabular data types: database like tables with laveled rows and columsn 

# Data consolidation and data integration: remove the duplicates, cleaning the data, manage missing values,
# automatically align tables by index.

#Summarization: Create "pivot" tables

# In-memory, SQL like operations : join, aggregate(groub by)

# Very flexible import/export data

# Date and time handling built-in, including timezones

# Easy visualization based on Matplotlib

## New Data Structures

In [ ]:
PANDA = PANel DAta = multi-dimensional data in stats & econometrics.

# A series is a 1-D data structure 

# A DataFrame is a 2-D data structure that can be viewed as a dictionary of Series

#A Panel is a 3-D data structure that can be viewed as a dictionary of DataFrames.

## Series

In [ ]:
#pandas.Series are indexed arrays

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\draco\anaconda3\lib\site-packages (2.1.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\draco\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\draco\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\draco\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\draco\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\draco\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [9]:
from pandas import *

In [11]:
s = Series({ 'a' : 1, 
             'b' : 2, 
             'c' : 3
           })

In [13]:
s

a    1
b    2
c    3
dtype: int64

In [15]:
# indexing s 
s['b']

2

In [17]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# From the series the index part is the right part while the values are the numbers on the right hand.

In [19]:
s.values

array([1, 2, 3], dtype=int64)

In [21]:
# Creating Series

In [23]:
# From list and dictionary

In [25]:
my_index = ['a', 'b', 'c', 'd']
Series(range(4),
        index = my_index,
        name = 'first series')

a    0
b    1
c    2
d    3
Name: first series, dtype: int64

In [27]:
# data + indices in a dict 

d = { 'a' : 1, 
      'b' : 2,
      'c' : 3, 
      'd' : 4
    }
s = Series(d, name = 'second series') 
s

a    1
b    2
c    3
d    4
Name: second series, dtype: int64

In [31]:
# From a Numpy Array 
# the random function in order to random samples in numpy.
from numpy.random import randn

In [33]:
Series(randn(4), index = my_index)

a   -0.526069
b   -0.480281
c    0.153000
d    0.313357
dtype: float64

In [37]:
Series(randn(4), index = my_index)

a   -1.109354
b    0.873122
c   -0.289885
d    0.336132
dtype: float64

## DataFrames

In [44]:
# Dataframes have both row(index) and columns indices 
# Each column may have a different datatype
# Adding a columns is 'cheap'

In [46]:
s1 = Series({'a' : 1, 'b' : 2, 'c' : 3})
s2 = Series({ 'a' : True, 'b' : False, 'c' : True})
df = DataFrame({'col1' :s1, 
                 'col2' :s2})

In [48]:
df

   col1   col2
a     1   True
b     2  False
c     3   True

In [50]:
# Above we can see that when we create a dataframe and by convining series and giving them columns names.

a    1
b    2
c    3
dtype: int64

In [52]:
df['col1']

a    1
b    2
c    3
Name: col1, dtype: int64

In [54]:
df['a']

KeyError: 'a'

In [ ]:
# Creating DataFrames from a dict of series

In [62]:
s2 = Series([-0.9, -1.7, 1.1],
            index = my_index[1:])

In [58]:
s2

b   -0.9
c   -1.7
d    1.1
dtype: float64

In [64]:
d = {'A' : s, 
     'B' : s2}

In [66]:
df = DataFrame(d)

In [68]:
df

   A    B
a  1  NaN
b  2 -0.9
c  3 -1.7
d  4  1.1

In [70]:
df.columns

Index(['A', 'B'], dtype='object')

In [74]:
df.shape

(4, 2)

In [76]:
df.dtypes

A      int64
B    float64
dtype: object

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       3 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 96.0+ bytes

In [82]:
df.head(2)

   A    B
a  1  NaN
b  2 -0.9

In [84]:
df.describe()

              A         B
count  4.000000  3.000000
mean   2.500000 -0.500000
std    1.290994  1.442221
min    1.000000 -1.700000
25%    1.750000 -1.300000
50%    2.500000 -0.900000
75%    3.250000  0.100000
max    4.000000  1.100000

In [86]:
df.sample(2)

   A    B
b  2 -0.9
d  4  1.1

In [ ]:
# From a Numpy Array