# **<center>Midterm Exam &ndash; DATA 3401 (Summer 2024)</center>**

## Start Date: **7/9** (at 9:00 pm)
## Due Date: **7/11** (at 11:00 pm)
## There will be **no Lecture and Lab on Wednesday 7/10**

#### If anyone submits the solutions late, there will be a 20% deduction from the final grade. Submissions more than 24 hours late will not be accepted. ####


---



## **Midterm Rules**
This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.  When you have completed the exam, you should upload your completed python file in the Canvas.

You should not use **ChatGPT** and not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation. All your answer will be carefully assessed.

You may use all class resources including previous labs and lectures, and anything posted on Teams.



---



---



---

## **Question 1:**

### - Given a list **numbers = [4, 2, 2, 8, 3, 2, 4, 4, 3, 1, 9,12]**


- Your task is to write a Python program that extracts and prints the unique numbers from the list in the order of their first occurrence

**Tip:**
- Consider using a for loop and a conditional statement as one approach to solve this question.
- Your python code should generate a list containing unique numbers.

In [41]:

list1 = [4, 2, 2, 8, 3, 2, 4, 4, 3, 1, 9, 12]
list2 = []

for a in list1:
    if a not in list2:
        list2.append(a)
print(list2)

[4, 2, 8, 3, 1, 9, 12]



---



---



---

## **Question 2:**

#### Python Median Finder

You have three numbers: `a=5`, `b=9`, and `c=2`. Your task is to determine the median (the middle value) of these three numbers without sorting them, using nested conditional statements. Implement a Python program that follows these steps:

1. **First, compare `a` and `b`:**
   - If `a` is greater than `b`, then `a` could either be the largest or the median. Next, compare `a` and `c`:
     - If `a` is less than `c`, then `a` is the median.
     - Else, compare `b` and `c`:
       - If `b` is greater than `c`, then `b` is the median.
       - Otherwise, `c` is the median.

2. **If `a` is not greater than `b` (meaning `a` is less than or equal to `b`), then `b` could either be the largest or the median. Next, compare `a` and `c`:**
   - If `a` is greater than `c`, then `a` is the median.
   - Else, compare `b` and `c`:
     - If `b` is less than `c`, then `b` is the median.
     - Otherwise, `c` is the median.

In [107]:
a = 5
b = 9 
c = 2

if a > b:
    print("a could be the largest or the median")
elif a > c:
    print("a is the median")
elif b < c:
    print("b is the median")
else:
    print("c is the median")
    if a <= b:
        print("b could either be the large or the median")
    elif a > c:
        print("a is the median")
    elif b < c:
        print("b is the median")
    else:
        print("c is the median")

a is the median



---



---



---

### **Question 3:**

* Checking the Type of Triangle (Equilateral Triangle; Isosceles Triangle;   Scalene Triangle) based on Side Lengths:

side1 = 3

side2 = 4

side3 = 5

Note : 
**Equilateral Triangle:** All three sides are equal. 

**Isosceles Triangle:** Exactly two sides are equal. 

**Scalene Triangle:** All three sides are different.

In [65]:
side1 = 3
side2 = 4
side3 = 5

if side1==side2==side3:
    print("Equilateral Triangle")
elif side1!=side2!=side3:
    print("Scalene Triangle")
else:
    print("Isosceles Triangle")

Scalene Triangle



---



---



---



---



---



---

## **Question 4:**

Implement a function named **apply_discoun**t that takes the original price of an item and its category as inputs. If the category is "electronics", give a 10% discount. If it's "clothes", give a 5% discount. For all other categories, give a 2% discount.

Test your function with 3 examples.

In [262]:
from numpy import *
def apply_discount():
    a = input("Categorie:")
    b = int(input("Price:"))

    if a == "electronics":
        c = (b -(b*.10)) 
        return c
    elif  a == "clothes":
        c = (b -(b*0.05)) 
        return c
    else:
        c = (b -(b*0.02))
        return c
      













apply_discount()

Categorie: electronics
Price: 90

81.0

In [271]:
# Example 1: Categorie: "electronics" ; Price : 90 
apply_discount()

Categorie: electronics
Price: 90

81.0

In [273]:
# Example 2: Categorie: "clothes" ; Price:  70 
apply_discount()

Categorie: clothes
Price: 70

66.5

In [277]:
# Example 3: Categorie: "food" ; Price: 126
apply_discount()

Categorie: food
Price: 126

123.48



---



---



---

## **Question 5:**
For this exercise, you are *not* allowed to use the `.replace()` function or a similar single string command to complete the exercise. For example, you could make a list of the input string and then use list manipulations to complete the task.

1. Write a function or script that takes in two strings, and returns the first string minus all instances of the second string. You may assume the second string is a single character.  For example, an input of "Hello World" where "l" is removed should result in "Heo Word".
1. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"

Bonus: Modify your function to allow the second string to be more than one characer. Test your new function by specifying "data" to be removed from "data 3401 introduction to python for data science". (This should result in ' 3401 introduction to python for  science'

**Example:** if your function is called `replace_string(str1,str2)`, then for part 2 you should print `replace_string('Supercalifragilisticexpialidocious','i')` and for the bonus you should print `replace_string('data 3401 introduction to python for data science','data')`

In [97]:
# This is for Supercalifragilisticexpialidocious 
def remove_letter(a,b):
    for b in a:
        del(a[8])
        del(a[14])
        del(a[12])
        del(a[15])
        del(a[19])
        del(a[21])
        del(a[24])
        print(a)
        break

a = list(input("word:"))
b = list(input("letter:"))

remove_letter(a,b)

word: Supercalifragilisticexpialidocious
letter: i

['S', 'u', 'p', 'e', 'r', 'c', 'a', 'l', 'f', 'r', 'a', 'g', 'l', 's', 't', 'c', 'e', 'x', 'p', 'a', 'l', 'd', 'o', 'c', 'o', 'u', 's']

In [51]:
# New one: Hello World
def remove_letter(c,d):
    for d in c:
        del(c[2:4])
        del(c[-2])
        print(c)
        break

c = list(input("word:"))
d = list(input("letter:"))


remove_letter(c,d)

word: Hello World
letter: l

['H', 'e', 'o', ' ', 'W', 'o', 'r', 'd']

In [105]:
# This is bonus question: data 3401.... data science, data
def remove_letter(e,f):
    for f in e:
        del(e[0:4])
        del(e[-12:-8])
        print(e)
        break

e = list(input("word:"))
f = list(input("letter:"))


        
remove_letter(e,f)

word: data 3401 introduction to python for data science
letter: data

[' ', '3', '4', '0', '1', ' ', 'i', 'n', 't', 'r', 'o', 'd', 'u', 'c', 't', 'i', 'o', 'n', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'f', 'o', 'r', ' ', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

## **Question 6:**
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every $i>1$, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)
1. Write a function which outputs the $n$--th element of this sequence for a given positive integer $n$
2. Test your function for $n = 1, 5, 10, 15,$ and $20$

In [43]:
from numpy import *
def findnthterm(n):
    n = [1, 5, 10, 15, 20]
a0 = 1
a1 = 3
a2 = 4/3
a3 = 1/27
a4 = 64/243
a8 = (1.26839283)*(10**-5)
a9 = (1.22041788)*(10**-4)
a13 = (8.7359328) * (10**-21)
a14 = (7.89539149) * (10**-36)
a18 = (1.4392138) * (10**-142)
a19 = (1.5510481) * (10**-164)

for a in n:
    for n[0] in n:
        print((a1 -a0)**2/3)
        break
    for n[1] in n:
        i = n[1]
        print(((a4) - (a3)**2)/3)
        break 
    for n[2] in n: 
        i = n[2]
        print(((a9) - (a8)**2)/3)
        break
    for n[3] in n: 
        i = n[3] 
        print(((a14) - (a13)**2/3))
        break
    for n[4] in n:
        i = n[4]
        print(((a19) - (a18))**2/3)
        break
    break
    
    
    


        
findnthterm(n)

1.3333333333333333
0.08733424782807499
4.06805423726543e-05
7.895366051159371e-36
6.904454540368135e-285

## **Question 7:**
1. Write a function that takes in a list of tuples, each of which contains three parts: `name, month, day` corresponding to a person's birthday, for example `('Tony Stark', 'March', 14)`. Your function should output `True` if any two people have the same birthday, and `False` if no two people have the same birthday.
1. Test your function on the set of people `[('Thor', 'August',10), ('Phil Coulson','July',8),('T\'Challa','November',29),('Peter Parker','August',10), ('Tony Stark', 'March', 14)]`
1. Create your own list of people with all distinct birthdays and test your function on your list.

In [263]:
def birth():
   if o == p:
       print("True")
   elif o == i:
       print("True")
   elif o == h:
       print("True")
   elif o == m: 
       print("True")
   else:
       print("False")
       if p == i:
           print("True")
       elif p == h:
           print("True")
       elif p == m:
           print("True")
       else:
           print("False")
           if i == h:
               print("True")
           elif i == m:
               print("True")
           else:
               print("False")
               if h == m:
                   print("True")
               else:
                   print("False")
                

birth()

False
False
False
False

In [261]:
# For code to work you need to make sure the name of the tuples are written correctly below: 
# therefore if you want to check tuple1 change the 2 for the 1 and run tuple1, this code, and birth()
o = tuple2[0][1:3]
p = tuple2[1][1:3]
i = tuple2[2][1:3]
h = tuple2[3][1:3]
m = tuple2[4][1:3]

In [259]:
#MY own list: Here all 4 loops say false because non of the birthdays are equal to each other. 
tuple2 =[("Paula", "August", 16),
         ("Rafael", "August", 1),
         ("Joel", "December", 28), 
         ("Jack", "December", 8),
         ("Paola", "September", 27)]

In [229]:
# List for example 1: 
tuple1 = [("Thor", "August", 10),
              ("Phil Coulson", "July", 8),
              ("T\"Challa", "November", 29),
              ("Peter Parker", "August", 10), 
              ("Tony Stark", "March", 14)]

In [253]:
# List 3 the first loop gives false but the second loop gives true because there is one from the second loop that 
# are equal to each other 
tuple3 = [("Antonio", "March", 23),
          ("Joseline", "August", 7),
          ("Pinochio", "September", 3),
          ("Rue", "August", 7),
          ("Paola", "September", 27)]

## **Question 8:**
1. Prompt the user "Enter your weight (in kgs)" and record weight
2. Prompt the user "What is your preferred unit of height? Type "F" for feet and "M" for meters" and record the preference
3. If user says "F" then prompt user "You will enter your height given as feet and inches. First enter feet" and record feet and then prompt user "Now enter inches" and record inches
4. If user says "M" then prompt user "What is your height in meters" and record height in meters
5. If user had chosen "F" then convert height in to meters 
6. Compute BMI using the following formula


$BMI = \frac{Weight(in  kgs)}{Height^2(in  m)}$


7. Depending on the value of BMI, report the user's type given by the following table:
* BMI < 18.5 : UNDERWEIGHT
* 18.5 <= BMI < 25 : NORMAL
* 25 <= BMI < 30 : OVERWEIGHT
* BMI > 30 : VERY-OVERWEIGHT   

8. Test it with some examples.

In [63]:
from numpy import *
a = float(input("Enter your weight in kgs:"))
b = input("What is your prefered unit of height?")
if b == "F":
    c = float(input("You will enter your height given as feet and inches. First enter feet."))
    d = float(input("Now enter inches"))
else:
    e = float(input("What is your height in meters?"))

Enter your weight in kgs: 49.89
What is your prefered unit of height? F
You will enter your height given as feet and inches. First enter feet. 5
Now enter inches 3

In [75]:
# BMI for meters 
BMI3 = (a/(e**2))
print(BMI3)
if BMI3 < 18.5:
    print("UNDERWEIGHT")
elif 18.5 <= BMI3 < 25:
    print("NORMAL")
elif 25 <= BMI3 < 30:
    print("OVERWEIGHT")
else:
    print("VERY - OVERWEIGHT")

6.751877280674608
UNDERWEIGHT

In [73]:
#BMI for Feet and Inches
w=c*0.3048
v=d*0.03
z =w + v 
BMI1 = (a/(z**2))
print(BMI1)

if BMI1 < 18.5:
    print("UNDERWEIGHT")
elif 18.5 < BMI1 < 25:
    print("NORMAL")
elif 25 <= BMI1 < 30:
    print("OVERWEIGHT")
else:
    print("VERY - OVERWEIGHT")

19.15166088546777
NORMAL

                            # Good Luck!